<div class="comicContainer">
	<div class="headerContainer">
		<div class="header">
			<h2><%= comic_name %></h2>
		</div>
		<div class="deleteComicBtn">
			<span class="tableCell">
				<i class="flaticon-trash"></i>
			</span>
		</div>
	</div>
	<div class="comic">
		<%= image_node %>
	</div>
</div>